@import 'tailwindcss';

:root {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--background);
}

body {
  font-family: var(--font-poppins), sans-serif;
}

/* Color Palette & Typography Tokens */
@layer base {
  :root {
    /* Action Blue & Tonal Range */
    --primary: #003d9b;
    --primary-container: #0052cc;
    --surface-highest: #d7e2ff;
    --surface-low: #f1f3ff;
    --background: #f9f9ff;

    /* Slate Neutrals */
    --neutral-100: #041b3c;
    --neutral-200: #4f5f7b;
    --neutral-300: #c3c6d6;
    --description-color: #434654;

    /* Semantic */
    --success: #82f9bd4d;
    --error: #ba1a1a;
    --warning: #ffb300;
    --disabled: #003e9b7e;
    --inputBgError: #ffdad6;

    /* Title*/
    --title-size: 30px;
    --title-weight: 700;
    --title-line-height: 40px;
    --title-letter-spacing: 0.9px;

    /* Title Description */
    --description-size: 14px;
    --description-weight: 400;
    --description-line-height: 20px;
    --description-letter-spacing: 0px;

    /* Desktop Layout Header: Name */
    --name-weight: 600;
    --name-size: 14px;
    --name-letter-height: 20px;
    --name-letter-space: 0;

    /* Desktop Layout Header: Department */
    --department-weight: 700;
    --department-size: 10px;
    --department-line-height: 20px;
    --department-letter-spacing: 1px;
    --department-uppercase: uppercase;

    /* Project Card */
    --project-card-title-weight: 500;
    --project-card-title-size: 18px;
    --project-card-title-line-height: 28px;
    --project-card-title-letter-spacing: 0;

    /* Project Card Description */
    --project-card-description-weight: 400;
    --project-card-description-size: 14px;
    --project-card-description-line-height: 22.75px;
    --project-card-description-letter-spacing: 0;

    /* Utility Text Tokens */
    --text-size: 11px;
    --text-weight: 700;
    --text-line-height: 16.5px;
    --text-letter-spacing: -0.55px;
    --text-color: #737685;

    /* Utility Text Tokens 2 */
    --text-2-size: 14px;
    --text-2-weight: 500;
    --text-2-line-height: 20px;
    --text-2-letter-spacing: 0px;
    --text-2-color: #434654;

    /* ======================================= Desk Top =========================================== */

    /* Headline */
    --headline-lg-size: 32px;
    --headline-lg-weight: 600;
    --headline-lg-line-height: 40px;

    /* Title Scale */
    --title-md-size: 18px;
    --title-md-weight: 500;
    --title-md-line-height: 27px;

    /* Body Scale */
    --body-md-size: 14px;
    --body-md-weight: 400;
    --body-md-line-height: 22.75px;

    /* Label Scale */
    --label-sm-size: 11px;
    --label-sm-weight: 700;
    --label-sm-line-height: 16.5px;
    --display-lg-letter-spacing: 1.1px;

    /* List Item Scale */
    --list-item-size: 14px;
    --list-item-weight: 500;
    --list-item-line-height: 20px;

    /* Invite Member Pop Up */
    --popUp-title: 24px;
    --popUp-weight: 700;
    --popUp-line-height: 32px;

    /* ======================================= Mobile ==================================== */
    --mob-headline-lg-size: 32px;
  }
}

/* Tailwind v4 Configuration Engine */
@theme {
  /* Action Blue & Tonal Range */
  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);
  --color-surface-highest: var(--surface-highest);
  --color-surface-low: var(--surface-low);
  --color-background: var(--background);

  /* Slate Neutrals */
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-description: var(--description-color);
  --color-text-custom: var(--text-color);

  /* Semantic */
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-disabled: var(--disabled);
  --color-inputBgError: var(--inputBgError);
}

/* Component Styling Classes */
@layer components {
  /* Page Header -- Start -- */
  .title-style {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    line-height: var(--title-line-height);
    letter-spacing: var(--title-letter-spacing);
  }

  .title-desc-style {
    font-size: var(--description-size);
    font-weight: var(--description-weight);
    line-height: var(--description-line-height);
    letter-spacing: var(--description-letter-spacing);
    color: var(--color-description);
  }
  /* Page Header -- End -- */

  /* Layout Header -- Start -- */
  .header-department-style {
    font-size: var(--department-size);
    font-weight: var(--department-weight);
    line-height: var(--department-line-height);
    letter-spacing: var(--department-letter-spacing);
    text-transform: var(--department-uppercase);
    color: var(--color-primary);
  }

  .header-name-style {
    font-size: var(--name-size);
    font-weight: var(--name-weight);
    line-height: var(--name-letter-height);
    letter-spacing: var(--name-letter-space);
    color: var(--color-neutral-100);
  }
  /* Layout Header -- End -- */

  /* Project Card -- Start -- */
  .project-card-title {
    font-weight: var(--project-card-title-weight);
    font-size: var(--project-card-title-size);
    line-height: var(--project-card-title-line-height);
    letter-spacing: var(--project-card-title-letter-spacing);
    color: var(--color-neutral-100);
  }

  .project-card-description {
    font-size: var(--project-card-description-size);
    font-weight: var(--project-card-description-weight);
    line-height: var(--project-card-description-line-height);
    letter-spacing: var(--project-card-description-letter-spacing);
    color: var(--color-description);
  }

  .style-1 {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
    color: var(--color-text-custom);
  }

  .style-2 {
    font-size: var(--text-2-size);
    font-weight: var(--tex-2-weight);
    line-height: var(--text-2-line-height);
    letter-spacing: var(--text-2-letter-spacing);
    color: var(--color-text-2-custom);
  }
  /* Project Card -- End -- */

  /* Global Typography Utilities -- Start -- */
  .headline-lg {
    font-size: var(--headline-lg-size);
    font-weight: var(--headline-lg-weight);
    line-height: var(--headline-lg-line-height);
  }

  .title-md {
    font-size: var(--title-md-size);
    font-weight: var(--title-md-weight);
    line-height: var(--title-md-line-height);
  }

  .body-md {
    font-size: var(--body-md-size);
    font-weight: var(--body-md-weight);
    line-height: var(--body-md-line-height);
  }

  .label-sm {
    font-size: var(--label-sm-size);
    font-weight: var(--label-sm-weight);
    line-height: var(--label-sm-line-height);
    letter-spacing: var(--display-lg-letter-spacing);
  }

  .list-item {
    font-size: var(--list-item-size);
    font-weight: var(--list-item-weight);
    line-height: var(--list-item-line-height);
  }
  /* Global Typography Utilities -- End -- */

  /* Invite Member Pop Up */
  .pop-up-title {
    font-size: var(--popUp-title);
    font-weight: var(--popUp-weight);
    --popUp-line-height: var(--popUp-line-height);
  }

  .mob-title {
    font-size: var(--mob-headline-lg-size);
    font-weight: var(--headline-lg-weight);
    line-height: var(--headline-lg-line-height);
  }
}

/* Hide Edge password reveal icon */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* Hide Chromium/Edge password reveal button */
input[type='password']::-webkit-credentials-auto-fill-button,
input[type='password']::-webkit-textfield-decoration-container {
  visibility: hidden;
  pointer-events: none;
}
